{% extends 'uzzutv/layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'uzzutv/home.css' %}">

{% endblock %}
<style>


</style>
{% block body %}





<div class="hero-wrapper">

<div class="hero-slider">

{% for item in hero|slice:"10:" %}

<div class="hero-slide">

<img class="hero-bg"
src="https://image.tmdb.org/t/p/original{{ item.backdrop_path }}">

<div class="hero-content">

{% if item.logo %}
<img class="hero-logo" src="https://image.tmdb.org/t/p/w500{{ item.logo }}">
{% else %}
<h2 style="font-family: 'Passero One', sans-serif; font-size: 4rem;">
{% if item.title %}{{ item.title|truncatewords:3 }}{% else %}{{ item.name|truncatewords:3 }}{% endif %}
</h2>
{% endif %}

<div class="hero-meta">
⭐ {{ item.vote_average }} · {{ item.media_type.capitalize }} 
</div>

<p>{{ item.overview|truncatewords:25 }}</p>

<div class="hero-buttons">

{% if item.media_type == "movie" %}
<a class="watch-btn" href="{% url 'watchmov' item.id %}">▶ Watch Now</a>
{% else %}
<a class="watch-btn" href="{% url 'watchtv' item.id %}">▶ Watch Now</a>
{% endif %}

<a class="info-btn" href="#">More Info</a>

</div>

</div>

</div>

{% endfor %}

</div>









<!-- trending -->
 <div class="trending-section">

<div class="slider-header">

<h2 class="section-title">Latest & Trending</h2>

<div class="slider-controls">
<button onclick="slideLeft('top10-slider')"><span class="material-icons">chevron_left</span></button>
<button onclick="slideRight('top10-slider')"><span class="material-icons">chevron_right</span></button>
</div>

</div>

<div class="top10-row" id="top10-slider">

{% for item in top10 %}

<div class="top10-card">

<span class="rank">{{ forloop.counter }}</span>

{% if item.media_type == "movie" %}
<a href="{% url 'watchmov' item.id %}">
{% else %}
<a href="{% url 'watchtv' item.id %}">
{% endif %}

<img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}">

</a>

</div>

{% endfor %}
</div>
</div>
</div>


<h4 style="color: #111111 ;">by Rashan Gang</h4>

<!-- action -->


<div style="margin-top: 220px;" class="content-section">

<div class="slider-header">

<h2 class="section-title">Action</h2>

<div class="slider-controls">
<button onclick="slideLeft('action-slider')">
<span class="material-icons">chevron_left</span>
</button>

<button onclick="slideRight('action-slider')">
<span class="material-icons">chevron_right</span>
</button>
</div>

</div>

<div class="movie-row" id="action-slider">

{% for item in action %}

<div class="movie-card">

{% if item.media_type == "movie" %}
<a href="{% url 'watchmov' item.id %}">
{% else %}
<a href="{% url 'watchtv' item.id %}">
{% endif %}

<img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}">

</a>

</div>

{% endfor %}

</div>

</div>



<!-- romance -->

<div class="content-section">

<div class="slider-header">

<h2 class="section-title">Romance</h2>

<div class="slider-controls">
<button onclick="slideLeft('romance-slider')">
<span class="material-icons">chevron_left</span>
</button>

<button onclick="slideRight('romance-slider')">
<span class="material-icons">chevron_right</span>
</button>
</div>

</div>

<div class="movie-row" id="romance-slider">

{% for item in romance %}

<div class="movie-card">

{% if item.media_type == "movie" %}
<a href="{% url 'watchmov' item.id %}">
{% else %}
<a href="{% url 'watchtv' item.id %}">
{% endif %}

<img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}">

</a>

</div>

{% endfor %}

</div>

</div>

<!-- comedy -->
<div class="content-section">

<div class="slider-header">

<h2 class="section-title">Comedy</h2>

<div class="slider-controls">
<button onclick="slideLeft('comedy-slider')">
<span class="material-icons">chevron_left</span>
</button>

<button onclick="slideRight('comedy-slider')">
<span class="material-icons">chevron_right</span>
</button>
</div>

</div>

<div class="movie-row" id="comedy-slider">

{% for item in comedy %}

<div class="movie-card">

{% if item.media_type == "movie" %}
<a href="{% url 'watchmov' item.id %}">
{% else %}
<a href="{% url 'watchtv' item.id %}">
{% endif %}

<img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}">

</a>

</div>

{% endfor %}

</div>

</div>


<script>

function slideLeftTop(){
document.getElementById("top10-slider")
.scrollBy({left:-600, behavior:"smooth"});
}

function slideRightTop(){
document.getElementById("top10-slider")
.scrollBy({left:600, behavior:"smooth"});
}
let slides = document.querySelectorAll(".hero-slide");
let index = 0;

slides[0].classList.add("active");

function showSlide(){

slides.forEach(slide => slide.classList.remove("active"));

slides[index].classList.add("active");

index++;

if(index >= slides.length){
index = 0;
}

}

setInterval(showSlide, 5000);

function slideLeft(id){
const slider = document.getElementById(id);
if(slider){
slider.scrollBy({left:-600, behavior:"smooth"});
}
}

function slideRight(id){
const slider = document.getElementById(id);
if(slider){
slider.scrollBy({left:600, behavior:"smooth"});
}
}
</script>
{% endblock%}