{% extends 'uzzutv/layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'uzzutv/home.css' %}">

{% endblock %}
<style>


</style>
{% block body %}





<div class="hero-wrapper">

<div class="hero-slider">

{% for movie in trendingMovie|slice:":5" %}

<div class="hero-slide">

<img class="hero-bg"
src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}">

<div class="hero-content">


<h2 class="hero-title" style="font-family: 'Passero One', sans-serif;">
{{ movie.title|truncatewords:3 }}
</h2>


<div class="hero-meta">
⭐ {{ movie.vote_average }} · {{ movie.media_type.capitalize }} 
</div>

<p class="p-mobile">{{ movie.overview|truncatewords:25 }}</p>

<div class="hero-buttons">


<a class="watch-btn" href="{% url 'watchmov' movie.id %}">▶ Watch Now</a>


<a class="info-btn" href="{% url 'detail' 'movie' movie.id %}">More Info</a>

</div>

</div>

</div>

{% endfor %}

</div>









<!-- trending -->
 <div class="trending-section">

<div class="slider-header">

<h2 class="section-title">Popular</h2>

<div class="slider-controls">
<button onclick="slideLeft('top10-slider')"><span class="material-icons">chevron_left</span></button>
<button onclick="slideRight('top10-slider')"><span class="material-icons">chevron_right</span></button>
</div>

</div>

<div class="top10-row" id="top10-slider">

{% for popular in popularMovie|slice:":10" %}

<div class="top10-card">

<span class="rank">{{ forloop.counter }}</span>


<a href="{% url 'detail' 'movie' popular.id %}">


<img src="https://image.tmdb.org/t/p/w500{{ popular.poster_path }}">

</a>

</div>

{% endfor %}
</div>
</div>
</div>


<h4 style="color: #111111 ;">by Rashan Gang</h4>



<!-- action -->


<div style="margin-top: 220px;" class="content-section">

<div class="slider-header">

<h2 class="section-title">Top Rated</h2>

<div class="slider-controls">
<button onclick="slideLeft('action-slider')">
<span class="material-icons">chevron_left</span>
</button>

<button onclick="slideRight('action-slider')">
<span class="material-icons">chevron_right</span>
</button>
</div>

</div>

<div class="movie-row" id="action-slider">

{% for top in toprated %}

<div class="movie-card">


<a href="{% url 'detail' 'movie' top.id %}">


<img src="https://image.tmdb.org/t/p/w500{{ top.poster_path }}">

</a>

</div>

{% endfor %}

</div>

</div>






<script>

function slideLeftTop(){
document.getElementById("top10-slider")
.scrollBy({left:-600, behavior:"smooth"});
}

function slideRightTop(){
document.getElementById("top10-slider")
.scrollBy({left:600, behavior:"smooth"});
}
let slides = document.querySelectorAll(".hero-slide");
let index = 0;

slides[0].classList.add("active");

function showSlide(){

slides.forEach(slide => slide.classList.remove("active"));

slides[index].classList.add("active");

index++;

if(index >= slides.length){
index = 0;
}

}

setInterval(showSlide, 5000);

function slideLeft(id){
const slider = document.getElementById(id);
if(slider){
slider.scrollBy({left:-600, behavior:"smooth"});
}
}

function slideRight(id){
const slider = document.getElementById(id);
if(slider){
slider.scrollBy({left:600, behavior:"smooth"});
}
}
</script>
{% endblock%}







































