{% extends 'uzzutv/layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'uzzutv/home.css' %}">
{% endblock %}

{% block body %}

<h2 style="margin-top:60px; color:white; margin-left: 5px;">
Search results for "{{query}}"
</h2>

{% if not movies and not tvshows %}

<h3 style="text-align:center; margin-top:50px;">
No results found 😢
</h3>

{% else %}


<!-- MOVIES -->
{% if movies %}
<div class="content-section">

<div class="slider-header">

<h2 class="section-title">Movies</h2>

<div class="slider-controls">
<button onclick="slideLeft('movie-slider')">
<span class="material-icons">chevron_left</span>
</button>

<button onclick="slideRight('movie-slider')">
<span class="material-icons">chevron_right</span>
</button>
</div>

</div>

<div class="movie-row" id="movie-slider">

{% for top in movies %}
{% if top.poster_path %}

<div class="movie-card">
<a href="{% url 'detail' 'movie' top.id %}">
<img src="https://image.tmdb.org/t/p/w500{{ top.poster_path }}">
</a>
</div>

{% endif %}
{% endfor %}

</div>

</div>
{% endif %}



<!-- TV SHOWS -->
{% if tvshows %}
<div class="content-section">

<div class="slider-header">

<h2 class="section-title">TV Shows</h2>

<div class="slider-controls">
<button onclick="slideLeft('tv-slider')">
<span class="material-icons">chevron_left</span>
</button>

<button onclick="slideRight('tv-slider')">
<span class="material-icons">chevron_right</span>
</button>
</div>

</div>

<div class="movie-row" id="tv-slider">

{% for top in tvshows %}
{% if top.poster_path %}

<div class="movie-card">
<a href="{% url 'detail' 'tv' top.id %}">
<img src="https://image.tmdb.org/t/p/w500{{ top.poster_path }}">
</a>
</div>

{% endif %}
{% endfor %}

</div>

</div>
{% endif %}

{% endif %}


<script>
function slideLeft(id){
const slider = document.getElementById(id);
if(slider){
slider.scrollBy({left:-600, behavior:"smooth"});
}
}

function slideRight(id){
const slider = document.getElementById(id);
if(slider){
slider.scrollBy({left:600, behavior:"smooth"});
}
}
</script>

{% endblock %}